<header>
  <h1 class="text-center">ChessExplained</h1>
  <p class="description text-center">Learn, have fun, and expierence the game of chess with anyone over the internet</p>
</header>

<div class="row how-it-works">
  <h3 class="text-center">How it works</h3>
    <div class="col-sm-4 step text-center">
      <h4>Upload your game</h4>
      <p class="how-it-works-description">
        Uploading your game onto ChessExplained it easy. Simply enter the PGN, or manually play out the game.
      </p>
    </div>
    <div class="col-sm-4 step text-center">
      <h4>Invite your friends or coaches</h4>
      <p class="how-it-works-description">
        Once you've uploaded your game you can now share the url with whoever you want so they can enter your game room.
      </p>
    </div>
    <div class="col-sm-4 step text-center">
      <h4>Learn and have fun</h4>
      <p class="how-it-works-description">
        You can now review the game, test variations, play in the sandbox mode, and have the luxiory of video chat for cumminication. All on 1 screen. Perfect learning environment.
      </p>
    </div>
</div>

<div class="row schedule-a-lesson">
  <h2 class="text-center">Schedule a time to review chess with us</h2>
  <div class="mallers text-center col-sm-6">
    <%= image_tag "http://www.i2clipart.com/cliparts/4/6/4/8/clipart-chess-piece-black-king-4648.png", class: "img-rounded" %>
    <section>
      <h4>Jack Mallers</h4>
      <p class="teacher-description">
        Yo, my name is Jack Mallers. I am the founder of ChessExplained and also an avid chess player. I've been playing and teaching for years now. I have USCF rating of 1916, and a online rating that floats around 2219 on chesscube.
      </p>
      <%= link_to "Schedule a time to review chess with me", "#", class: "btn btn-success btn-md" %>
    </section>
  </div>

  <div class="hanson text-center col-sm-6">
    <%= image_tag "http://www.i2clipart.com/cliparts/4/6/4/8/clipart-chess-piece-black-king-4648.png", class: "img-rounded" %>
    <section>
      <h4>Jack Hanson</h4>
      <p class="teacher-description">
        Hello, my name is Jack Hanson. I love chess and have been playing for 10 years now. I have a USCF rating of 1834.
      </p>
      <%= link_to "Schedule a time to review chess with me", "#", class: "btn btn-success btn-md" %>
    </section>
  </div>
</div>
