<div class="background">
  <header>
    <h1 class="text-center">ChessExplained</h1>
    <p class="header-description text-center">Learn, have fun, and expierence the game of chess with anyone interactively — over the internet.</p>
  </header>

  <div class="get-started-container col-sm-4 col-sm-offset-4">
    <%= link_to "Get started", new_user_registration_url, class: "btn btn-default btn-block" %>
  </div>
</div>

<div class="container">
  <div class="row how-it-works">
    <h3 class="text-center">How it works</h3>
      <div class="col-sm-4 step text-center">
        <h4>Upload your game</h4>
        <p class="how-it-works-description">
          Uploading your game onto ChessExplained is easy. Simply enter the PGN, or manually play out the game.
        </p>
      </div>
      <div class="col-sm-4 step text-center">
        <h4>Invite your friends or coaches</h4>
        <p class="how-it-works-description">
          Once you've uploaded your game you can now share the url with whoever you want so they can enter your game room.
        </p>
      </div>
      <div class="col-sm-4 step text-center">
        <h4>Learn and have fun</h4>
        <p class="how-it-works-description">
          You can now review the game, test variations, play in the sandbox mode, and have the luxiory of video chat for cumminication with everyone in your game room. All on 1 screen. The perfect learning environment, and it's pretty fun too.
        </p>
      </div>
  </div>

  <div class="row schedule-a-lesson">
    <h3 class="text-center">Schedule a time to review chess with us</h3>
    <div class="mallers text-center col-sm-6">
      <section>
        <h4>Jack Mallers</h4>
        <p class="teacher-description">
          Jack Mallers is the founder of ChessExplained. He has a love for chess, and expierence teaching. His USCF rating is 1918, and he has a 2228 online rating.
        </p>
      <%= link_to "Schedule a time to review chess with Mallers", "#", class: "btn btn-primary btn-md" %>
      </section>
    </div>

    <div class="hanson text-center col-sm-6">
      <section>
        <h4>Jack Hanson</h4>
        <p class="teacher-description">
          Jack Hanson has been playing chess since he was a kid. His USCF rating is 1800, and his online rating is 1850.
        </p>
        <%= link_to "Schedule a time to review chess with Hanson", "#", class: "btn btn-primary btn-md" %>
      </section>
    </div>
  </div>
</div>
