<div class="container">
  <section class="announcement-header text-center">
    <h1>
      Yo!
      <br/>
      <small>By <%= link_to "Jack Mallers", "https://twitter.com/JackMallers", target: "_blank"  %> <span class="founder">founder/creator of ChessExplained</span></small>
    </h1>
  </section>

  <section class="announcement-body">
    <p>What's goin'on? A few days ago I checked how many people have signed up on the ChessExplained mailing list and realized the number is now around 200. Considering I have a working MVP (Minimum viable product --> "Something that's usable"), and I'm about to make a big decision I thought: "Shit, I should make an announcement".</p>

    <p>The big decision is that I am going to have to rebuild ChessExplained from the ground up. When I first started coding my product I was fresh out of my entrepreneur bootcamp, <%= link_to "Starter School", "http://www.starterschool.com/"  %>, and still very much a beginner. I'm still no expert, but as I am learning more and beta testing I realized that the foundation I laid months ago might not be able to support my vision for this product. I want to lay down building blocks solid enough to support a really tall tower, cause I plan on changing the way we all experience chess, ya know? The setback is that this might take me a few months to complete and get up to speed.</p>

    <p>The first version is not going in the trash however. While in beta, I was able to teach and help chess players all over the world. I use the first version almost every day to connect with other players around the world, and I want you to be able to use it as well. So while I'm in the process of rebuilding ChessExplained, feel free to use this first version as much as you want. All feedback is more than welcome. </p>

    <p>Excuse my poor video editing skills, but I made a video (below) to show you how I use it.</p>

    <iframe class="announcement-vid" width="100%" height="400" src="//www.youtube.com/embed/q3Qahk1yb2c" frameborder="0" allowfullscreen></iframe>

    <p>If anyone needs help getting started with chess, I would love to give you lessons for whatever you can afford. That is all, folks! Thank you so much for being a part of ChessExplained. You can always reach me @jackmallers or email me at jimmymowschess@gmail.com. </p>
  </section>

  <p class="text-center"><%= link_to "Go to the home page", root_url %></p>
</div>
