<div class="container text-center">
  <header>
    <h1>ChessExplained</h1>
    <p class="description">Learn, have fun, and expierence the game of chess with anyone over the internet</p>
  </header>
</div><!-- /container -->

<style type="text/css">
  h1 {
    font-weight: 300;
    font-family: "Lato";
  }

  .description {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 22px;
    color: rgba(0,0,0,0.3);
    font-family: "Lato";
    font-weight: 300;
  }
</style>
