<div class="container">
  <% if user_signed_in? %>
    <%= render "signed_in_root" %>
  <% else %>
    <%= render "not_signed_in_root" %>
  <% end %>
</div><!-- /container -->

<style type="text/css">
  h1 {
    font-weight: 300;
    font-family: "Lato";
  }

  .description {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 22px;
    color: rgba(0,0,0,0.3);
    font-family: "Lato";
    font-weight: 300;
  }

  .schedule-a-lesson, .how-it-works {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .schedule-a-lesson > h2, .how-it-works > h2 {
    margin-bottom: 20px;
  }

  .teacher-description {
    text-align: left;
    min-height: 60px;
  }
</style>
