<div class="modal fade" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-invitation">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="invitationModalLabel">To invite someone to review with you, give them this url:</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= text_field_tag "invitation-url", game_invite_link(@game), class: "form-control", readonly: true, onClick:"this.setSelectionRange(0, this.value.length)" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
