<div class="container">
  <div class="col-sm-8 text-center">
    <div class="manual-intructions">
      <h1 class="text-center">Manually a your game</h1>
      <p class="description text-center">Simply play out the moves of your game and then click "Submit game" to upload this game</p>
    </div>
    <div id="manualBoard" style="width: 60%"></div>
    <div class="manual-navigation">
      <%= link_to "Undo last move", "#", class: "btn btn-default btn btn-danger pull-left review-nav-link", id: "undoManualMove" %>

      <%= form_for(@game) do |f| %>
        <%= f.hidden_field :moves %>
        <%= f.button "Submit this game", class: "btn btn-primary pull-right", data: {disable_with: "<i class=\"fa fa-spinner fa-spin\"></i> Loading..."} %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2 manual-pgn text-center">
    <h3>Your PGN</h3>
    <p><span id="pgn"></span></p>
  </div>
</div>
