<div class="container">
  <h1 class="text-center upload-header">Upload a game with PGN</h1>

  <%= render 'form' %>
</div>

<style type="text/css">
  .actions {
    width: 20%;
    margin: 0 auto;
  }

  .new_game {
    margin-top: 50px;
  }

  h4 {
    font-weight: 300;
    font-family: "Lato";
    margin-bottom: 20px;
  }
</style>
