<div class="container">
  <ul class="nav nav-tabs col-sm-8" role="tablist">
    <li class="active"><a href="#review" role="tab" data-toggle="tab">Review Mode</a></li>
    <li><a href="#sandbox" role="tab" data-toggle="tab">Sandbox Mode</a></li>
  </ul>

  <div class="tab-content col-sm-8">
    <div class="tab-pane fade in active" id="review">
      <h1>Review</h1>
      <% @game.moves.each do |move| %>
        <%= link_to move.notation, "#" %>
      <% end %>
    </div>

    <div class="tab-pane fade in" id="sandbox">
      <div id="sandboxBoard" style="width: 500px"></div>
      <div class="game-details">
        <%= link_to "Starting position", "#", class: "btn btn-primary sandbox-game-instruction", id: "sandboxStartBtn" %>
        <%= link_to "Clear board", "#", class: "btn btn-primary sandbox-game-instruction", id: "sandboxClearBtn" %>
      </div>
    </div>
  </div>

  <div class="video-chat col-sm-4">
    <ul class="video-boxes">
      <li class="video"></li>
      <li class="video"></li>
    </ul>
  </div>
</div>

<style type="text/css">
  .video {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 5px 0;
    list-style-type: none;
    display: inline-block;
  }
</style>
