<div class="container">
  <div class="conversation-index-header">
    <h3>Inbox</h3>
    <%= link_to "Create a new conversation", new_user_conversation_path(@user), class: "btn btn-success" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>People</th>
        <th>Last updated</th>
      </tr>
    </thead>
    <tbody>
      <% @conversations.each do |conversation|  %>
        <tr>
          <td class="subject convo-content">
            <%= link_to conversation.subject, user_conversation_url(conversation.user, conversation) %>
          </td>
          <td class="author convo-content">
            <%= conversation.users_that_are_not_me(current_user.id).pluck(:handle).join(", ") %>
          </td>
          <td class="date convo-content">
            <time class="" datetime="2014-10-29T21:01:23.788+01:00" data-format="calendar"><%= conversation.updated_at.strftime("%b %e, %l:%M %p") %></time>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

