.announcement-header {
  margin-bottom: 20px;
}

.announcement-body {
  width: 75%;
  margin: 0 auto;
}

.announcement-body > p {
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  font-family: kepler-std, Georgia, Times, serif;
}

.founder {
  font-size: 12px;
  color: darkgray;
}

.announcement-vid {
  margin: 30px 0;
}
