.divider {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid #eee;
}
/*Nav*/
.log-in {
  border-left: 1px solid black;
}

.right {
  float: right;
}

nav > ul {
  margin: 20px;
}

nav > ul > li {
  display: inline-block;
  padding: 10px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  /*text-transform: uppercase;*/
  font-weight: 200;
}

/*Intro*/
.intro {

}

.intro-titles {
  margin: 0 auto;
}

.intro-titles > h1 {
  margin-top: 50px;
}

.intro-titles > h4 {
  margin: 20px;
  color: #bdc3c7;
}

.intro-action-container {
  margin-top: 50px;
}

.intro-action-container > a {

}

.quote {
  margin-top: 50px;
}

.quote > h5 {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

/*Learning*/
.king-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 50px;
}

.king {

}

/*Steps*/
.landing-block {
  margin: 0 40px;
}

.you-do {
}

.learning-step {
  padding: 10px 0;
}

.learning-step > p {
  padding: 10px 0;
  font-weight: 200;
  line-height: 27px;
  font-size: 18px;
}

.you-do > ol {
  padding: 10px 0;
}

.you-do > ol > li {
  list-style-type: none;
  line-height: 27px;
  margin: 20px 0;
}

.heroSupplement__item {
  position: relative;
  padding: 20px;
  display: inline-block;
}

figure {
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #bdc3c7;
  color: black;
  text-align: center;
  line-height: 46px;
  font-weight: 200;
  vertical-align: middle;
}

figcaption {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -15px;
  padding-left: 40px;
  line-height: normal;
  font-weight: 200;
}

/*Schedule a time*/
.schedule-a-time-action-container {
  /*margin-left: 8%;*/
}

.teacher-description {
  margin-top: 10px;
}

.teacher-description > ul > li {
  font-size: 18px;
  font-weight: 200;
}
