.manual-pgn > h3 {
  border-bottom: 1px solid #ccc;
}

.manual-pgn > p {
  text-align: left;
}

  #manualBoard {
    display: inline-block;
  }

  .new_game {
    /*display: inline-block;*/
  }

  .manual-navigation {
    width: 60%;
    margin: 0 auto;
  }
