.invite-wrapper {
  padding: 5px;
  list-style-type: none;
  display: inline-block;
}


/*Re-sizing navbar*/
.navbar-nav > li > a {
  padding-top:3px !important;
  padding-bottom:3px !important;
}
.navbar {
  min-height:28px !important;
  margin-bottom: 0px !important;
}

.navbar-default .navbar-nav > li > .invitation-btn {
  color: white;
}

.navbar-default .navbar-nav > li > .invitation-btn:hover {
  color: white;
  background-color: #31b0d5;
  border-color: #269abc;
}

.game-title-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.navbar > .nav > .active {
  background-color: #e7e7e7;
}
