.devise-help-links {
  margin-top: 25px;
}

.devise-help-links > p {
  font-size: 13px;
}

.actions {
  margin-top: 20px;
}

.devise-header {
  margin-bottom: 15px;
}

.devise-submit {
  margin-top: 20px;
}
