<div class="notification-outter">
  <span class="notification-close"><a href="#" id="notificationCloseLink"><i class="fa fa-times"></i></a></span>
  <div class="notification-inner">
    <p class="notification-content"></p>
  </div>
</div>
